<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cart</title>
<link rel="stylesheet" th:href="@{/css/NewFile.css}">
</head>
<body>
	<a href="/items">トップページへ</a>
	<a href="/mypage">マイページへ</a>
   	<a href="/">ログアウト</a>
<hr>
	<table border="1" class="osare-table col5t">
		<!-- タイトル -->
		<tr>

			<th>商品名</th>
			<th>値段</th>
			<th>個数</th>
			<th>小計</th>
			<th></th>
		</tr>
		<!--  アイテムの一覧-->
		<tr th:each="item:${items}">
			<td th:text="${item.value.name}"></td>
			<td th:text="${item.value.price}"></td>
			<td th:text="${item.value.quantity}"></td>
			<td th:text="${item.value.price*item.value.quantity}"></td>
			<td><a th:href="|/cart/delete/${item.value.id}|">削除</a></td>
		</tr>
		<!-- 総計 -->
		<tr>

			<td class="alignright" colspan="5"><font size="5"><b
					th:text="|総計：${total}|"></b></font></td>
		</tr>
	</table>
	<a href="/items">買い物を続ける</a>
	<form th:if="${total != 0}" action="/orderItem" method="get">
		<input type="submit" class="myButton" value="注文する">

	</form>
	<p th:if="${total == 0}">カートが空です</p>
</body>
</html>