<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン画面</title>
<link rel="stylesheet" th:href="@{/css/NewFile.css}">
</head>
<body>
<h1>ログイン</h1>
<!-- エラーメッセージ -->
<span th:text="${message}" style="color:red;"></span>
	<!-- ログインフォーム -->
	<form action="/login" method="post">
		 <input type="text" name="email" placeholder="メールアドレス">
		<input type="text" name="password" placeholder="password">
		<input type="submit" value="ログイン">
	</form>
	<a href ="/signup">新規会員登録がまだの方はこちら</a>
</body>
</html>