<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>マイページ</title>
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/mypage.css}">
</head>
<body>
	<a href="/items">トップページへ</a>
	<a href="/history">注文履歴を確認する</a>
	<a href="/">ログアウト</a>
	<hr>
	<h2>MYPAGE</h2>
	<p>
		名前： <span th:text="${session.user.name}"></span>
	</p>
	<p>
		メールアドレス： <span th:text="${session.user.email}"></span>
	</p>
	<p>
		パスワード： <span th:text="${session.user.password}"></span>
	</p>
	<p>
		住所： <span th:text="${session.user.address}"></span>
	</p>
	<p>
		電話番号： <span th:text="${session.user.tell}"></span>
	</p>
	<form action="editUser">
		<button class="myButton">登録情報の更新</button>
	</form>
	<form action="/withdrawal">
		<button class="myButton">退会</button>
	</form>
	<span th:replace="footer"></span>
</body>
</html>