<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注文内容確認画面</title>
<link rel="stylesheet" th:href="@{/css/NewFile.css}">
<link rel="stylesheet" th:href="@{/css/mypage.css}">
</head>
<body>

	<table border="1" class="osare-table col5t">
		<!-- タイトル -->
		<tr>
			<th>商品名</th>
			<th>値段</th>
			<th>個数</th>
			<th>小計</th>

		</tr>
		<!--  アイテムの一覧-->
		<tr th:each="item:${items}">
			<td th:text="${item.value.name}"></td>
			<td th:text="${item.value.price}"></td>
			<td th:text="${item.value.quantity}"></td>
			<td th:text="${item.value.price*item.value.quantity}"></td>
		</tr>
		<!-- 総計 -->
		<tr>
			<td class="alignright" colspan="4"><font size="5"><b
					th:text="|総計：${total}|"></b></font></td>
		</tr>
	</table>
	<form action="/order/doOrder" method="post">
		<h2>
			<font size="6">お客様情報</font>
		</h2>
		<p>
			名前： <span th:text="${session.user.name}"></span>
		</p>
		<p>
			住所： <span th:text="${session.user.address}"></span>
		</p>
		<p>
			メールアドレス： <span th:text="${session.user.email}"></span>
		</p>
		<p>
			電話番号： <span th:text="${session.user.tell}"></span>
		</p>
		<p>
			クレジットカード： <span th:text="${session.pay.creditNo}"></span>
		</p>
		<h3>上記の内容でよろしいですか</h3>

		<!--  -->
		<input type="submit" class="myButton" value="注文する">
	</form>


	<a href="/orderItem"> <button class="myButton2" >入力内容訂正</button> </a>
	<span th:replace="footer"></span>
</body>
</html>