<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>購入ページ</title>
<link rel="stylesheet" th:href="@{/css/NewFile.css}">
</head>
<body>
	<span th:replace="header"></span>
	<!-- カート情報 -->
	<table border="1" class="osare-table col5t">
		<!-- タイトル -->
		<tr>
			<th>商品名</th>
			<th>値段</th>
			<th>個数</th>
			<th>小計</th>

		</tr>
		<!--  アイテムの一覧-->
		<tr th:each="item:${items}">
			<td th:text="${item.value.name}"></td>
			<td th:text="${item.value.price}"></td>
			<td th:text="${item.value.quantity}"></td>
			<td th:text="${item.value.price*item.value.quantity}"></td>

		</tr>
		<!-- 総計 -->
		<tr>
			<td class="alignright" colspan="4"><font size="5"><b
					th:text="|総計：${total}|"></b></font></td>
		</tr>
	</table>

	<h2>お客様情報</h2>
	<form action="/orderComplete" method="post">
		<!-- エラーメッセージ -->
		<span th:text="${message}" style="color: red;"></span>
		<p>
			名前： <input type="text" name="name" th:value="${session.user.name}">
		</p>
		<p>
			住所： <input type="text" name="address"
				th:value="${session.user.address}">
		</p>
		<p>
			メールアドレス： <input type="text" name="email"
				th:value="${session.user.email}">
		</p>
		<p>
			電話番号： <input type="text" name="tell" th:value="${session.user.tell}">
		</p>
		<p>お支払方法</p>
		<p>
			クレジットカード番号<input type="text" name="creditNo">
		</p>
		<p>
			セキュリティー番号<input type="text" name="creditSecurity">
		</p>
		<!-- <span>有効期限</span>
			<select name="month">
				<option value="1">01</option>
				<option value="2">02</option>
				<option value="3">03</option>
				<option value="4">04</option>
				<option value="5">05</option>
				<option value="6">06</option>
				<option value="7">07</option>
				<option value="選択肢3">08</option>
				<option value="選択肢3">09</option>
				<option value="選択肢3">10</option>
				<option value="選択肢3">11</option>
				<option value="選択肢3">12</option>
			</select>
		<select name="year">
				<option value="選択肢2">22</option>
				<option value="選択肢3">23</option>
				<option value="選択肢3">24</option>
				<option value="選択肢3">25</option>
				<option value="選択肢3">26</option>
				<option value="選択肢3">27</option>
				
			</select> -->
		<br> <input type="submit" class="myButton" value="確認画面へ">
	</form>
</body>
</html>